- provide(:title, 'Sign up')
%header
  %h1 Sign up

%div{ class: 'row' }
  %div{ class: 'span10 offset1' }
    = bootstrap_form_for(@user, html: { class: 'form-horizontal' }) do |f|
      = f.alert_message "Please check the errors below and try again."
      = f.text_field :name, class: "span5"
      = f.email_field :email, class: "span5"
      = f.password_field :password, class: "span5"
      = f.password_field :password_confirmation, label: "Confirm Password", class: "span5"
      = f.actions do
        = f.submit "Create User", class: "btn btn-large btn-primary"
